.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.5rem;
    font-size: 0.875rem;
    line-height: 1;
    text-decoration: none;
}

.btn-md {
    padding: 0.5rem 0.875rem;
    border-radius: 0.5rem;
}

.btn-sm {
    padding: 0.5rem 0.75rem;
    border-radius: 0.5rem;
}

.btn-xs {
    padding: 0.25rem;
    font-size: 0.75rem;
    border-radius: 0.25rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn-default {
    color: $c-gray-500;
    background-color: $c-gray-100;
    border: 1px solid $c-gray-200;

    &.btn.show,
    &:hover,
    &:focus,
    &:active,
    &:first-child:active {
        color: $c-purple-500;
        border-color: $c-purple-300;
        background-color: $c-purple-50;
    }
}

.btn-blank {
    color: $c-gray-900;
    background-color: transparent;
    padding: 0.5rem;
    box-shadow: none;
    border: 0;

    i {
        font-size: 1rem;
    }

    &:hover {
        background-color: $c-gray-200;
    }
}

.btn-danger {
    background-color: $c-red-50;
    border: 1px solid $c-red-200;
    color: $c-red-500;

    &.btn.show,
    &:hover,
    &:focus,
    &:active,
    &:first-child:active {
        color: $c-red-500;
        border-color: $c-red-300;
        background-color: $c-red-100;
    }
}
