.dropdown-btn {
    background: none;
    border: 0;
    box-shadow: none;
    margin: 0;
    padding: 0;
}

.dropdown-menu {
    padding: 0;
    border: 1px solid $c-gray-100;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 1rem rgba(#04071F, 0.08);
}

.dropdown-section {
    margin: 0;
    padding: 0.5rem 0;
    &:not(:last-child) {
        border-bottom: 1px solid $c-gray-200;
    }
}

.dropdown-item {
    padding: 0.75rem 1rem;

    &, a {
        color: $c-gray-900;
        &:hover {
            background-color: $c-gray-100;
        }
    }

    i {
        margin-right: 0.75rem;
        color: $c-gray-500;
    }

    a {
        text-decoration: none;
    }

    &.dropdown-info {
        &:hover {
            background: none;
        }
    }
}
