.nav-sidebar {
    padding: 1.5rem 1.25rem;
    z-index: $z-index-sidebar;

    .nav-sidebar__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 0.75rem;
    }

    .nav-sidebar__logo {
        display: flex;
        height: 1.5rem;

        img {
            height: 100%;
            width: auto;
        }
    }

    .nav-sidebar__user {
        .dropdown-menu {
            min-width: 14rem;
        }
        .user-info {
            .user-name {
                color: $c-gray-900;
                margin: 0;
            }
            .user-email {
                font-size: 0.75rem;
                color: $c-gray-500;
                margin: 0;
            }
        }
    }

    .nav-sidebar__modules {
        list-style: none;
        margin: 0;
        padding: 2rem 0;
    }

    .nav-sidebar__module-item {
        &:not(:last-child) {
            margin-bottom: 0.25rem;
        }
    }

    .nav-sidebar__module-item-anchor {
        display: inline-flex;
        align-items: center;
        padding: 0.5rem 0.75rem;
        text-decoration: none;
        color: $c-gray-900;
        border-radius: 4px;
        transition: $tr-quick;

        &.is-active,
        &:hover,
        &:focus,
        &:active {
            background-color: $c-gray-100;
        }
    }

    .nav-sidebar__module-item-icon {
        font-size: 1rem;
        color: $c-gray-500;
        margin-right: 0.75rem;
    }
}
