$font-family-sans-serif: 'Inter';

$c-gray-50: #F8FAFC;
$c-gray-100: #F2F5F9;
$c-gray-200: #E3E8EF;
$c-gray-300: #CDD5E0;
$c-gray-400: #97A3B6;
$c-gray-500: #677589;
$c-gray-600: #4A5567;
$c-gray-700: #364153;
$c-gray-800: #20293A;
$c-gray-900: #111729;

$c-purple-50: #EFF2FE;
$c-purple-100: #E1E7FD;
$c-purple-200: #C9D3FA;
$c-purple-300: #A8B5F6;
$c-purple-400: #828EF1;
$c-purple-500: #636AE9;
$c-purple-600: #4C4BDC;
$c-purple-700: #3F3DC2;
$c-purple-800: #35349D;
$c-purple-900: #2F307C;

$c-blue-50: #F0F6FE;
$c-blue-100: #DEE9FC;
$c-blue-200: #C4DBFB;
$c-blue-300: #9CC5F8;
$c-blue-400: #6FA5F3;
$c-blue-500: #4C83EE;
$c-blue-600: #3366E3;
$c-blue-700: #2651D0;
$c-blue-800: #2342A9;
$c-blue-900: #243B85;

$c-red-50: #FCF2F2;
$c-red-100: #F9E3E2;
$c-red-200: #F6CCCB;
$c-red-300: #F1A9A7;
$c-red-400: #E87975;
$c-red-500: #DE524C;
$c-red-600: #CB3A31;
$c-red-700: #AB2E26;
$c-red-800: #8D2822;
$c-red-900: #752522;




$fw-regular: 400;
$fw-semibold: 600;

$tr-default: all 1s ease;
$tr-quick: all 0.25s ease;
