/* Fonts */
//@import url('https://fonts.googleapis.com/css?family=Nunito');

/* Variables */
@import 'variables';

/* Bootstrap */
@import 'node_modules/bootstrap/scss/bootstrap';

html {
    font-size: 16px;
}

body {
    display: grid;
    grid-template-columns: 20rem auto;
    height: 100vh;
    transition: $tr-default;
    transition-property: width, grid-template-columns;
    .nav-sidebar {
        background-color: #fff;
        border-right: 1px solid $c-gray-200;
        transition: $tr-default;
        transition-property: transform;
    }
    main {
        width: 100%;
    }
    &.toggle-nav {
        grid-template-columns: 0 auto;
        .nav-sidebar {
            transform: translateX(-20rem);
        }
    }
}

[class*="col"] {
    display: flex;
    flex-direction: column;
}

.view-title {
    margin: 3rem 0 2.5rem;
}

.auth-view {
    height: 100vh;
    display: flex;

    .logo {
        margin-bottom: 5rem;
    }
}

.auth-splash-screen {
    height: 100vh;
    width: 100%;
    flex: 50%;
    background-image:
        radial-gradient(100% 100% at 100% 100%, rgba(#636AE9, 0.3) 0%, rgba(#FFF, 0) 100%),
        radial-gradient(100% 100% at 0% 0%, rgba(#63C1E9, 0.3) 0%, rgba(#FFF, 0) 100%);
}

.auth-form {
    flex: 50%;
    display: flex;
    align-items: center;
    padding: 4rem 2rem;
}

.auth-form-container {
    max-width: 22rem;
    margin: 0 auto;
}

.base-form {
    label {
        font-size: 0.75rem;
        text-transform: uppercase;
        font-weight: $fw-semibold;
        letter-spacing: 0.125rem;
        margin-bottom: 0.5rem;
        padding-top: 0;
        padding-bottom: 0;
        color: $c-gray-500;
    }

    .form-control {
        background-color: $c-gray-100;
        border: 1px solid $c-gray-200;
        border-radius: 0.5rem;
        color: $c-gray-600;

        &:is(input) {
            height: 3rem;
            padding: 0 1rem;
        }
    }
}

.breadcrumbs {
    display: flex;
    align-items: center;
    padding: 0.875rem 1.5rem;
    border-bottom: 1px solid $c-gray-200;

    .breadcrumbs__divider {
        i {
            font-size: 0.75rem;
            color: $c-gray-400;
            padding: 0 0.25rem;
        }
    }

    .breadcrumbs__cta,
    .breadcrumbs__txt {
        display: inline-flex;
        font-size: 0.75rem;
        line-height: 1;
        padding: 0.5rem 0.5rem;
        border-radius: 0.5rem;
        border: 1px solid transparent;
        color: $c-gray-500;
    }

    .breadcrumbs__cta {
        text-decoration: none;

        &:hover,
        &:focus,
        &:active {
            color: $c-gray-700;
            background-color: $c-gray-100;
            border: 1px solid $c-gray-200;
        }
    }
}

code {
    background-color: $c-blue-100;
    border: 1px solid $c-blue-200;
    color: $c-blue-800;
    border-radius: 0.375rem;
    padding: 0 0.125rem;
}

@import 'basic/dropdown';
@import 'basic/button';
@import 'basic/form';

@import 'navigation';
@import 'componentns/user-avatar';
@import 'componentns/item-list';
@import 'componentns/empty-state';
@import 'componentns/modal';
@import 'componentns/notebooks-list';
@import 'componentns/note';
@import 'componentns/subject-card';
@import 'componentns/notebook-card';
@import 'componentns/notebook-preview';

@import 'views/subjects/subject';
@import 'views/subjects/subject-list';
@import 'views/calendar/calendar';
