.form-divider {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    position: relative;
    margin-bottom: 1.5rem;

    .form-divider__content {
        background-color: #fff;
        font-size: 0.875em;
        z-index: 1;
        padding-right: 0.5rem;
        color: $c-gray-500;
    }

    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 0.75rem;
        right: 0.75rem;
        height: 1px;
        background-color: $c-gray-300;
    }
}
