.item-list {
    color: $c-gray-900;

    .item-list__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.75rem 2rem;
        background-color: $c-gray-100;
        border-bottom: 1px solid $c-gray-200;
    }

    .item-list__title {
        display: flex;
        align-items: center;
        font-size: 1.25rem;
        margin: 0;
        padding: 0.25rem 0;

        i {
            padding: 0 0.25rem;
            font-size: 1rem;
            margin-right: 1rem;
        }
    }
}

.item-list__item {
    display: flex;
    align-items: center;
    padding: 0.5rem 2rem;
    border-bottom: 1px solid $c-gray-200;
    font-size: 0.875rem;
    position: relative;

    .item-list__item-handle {
        display: flex;
        column-gap: 1px;
        position: absolute;
        margin-left: -1.5rem;
        cursor: grab;
        padding: 0.25rem;

        &::before,
        &::after {
            content: "\f142";
            font-family: "Font Awesome 6 Pro";
            font-weight: 300;
            color: $c-gray-500;
        }
    }

    .item-list__item-actions {
        display: flex;
        justify-content: center;
        min-width: 1.5rem;
        margin-right: 0.75rem;

        .dropdown {
            display: none;

            .dropdown-btn {
                background-color: $c-gray-100;
                border: 1px solid $c-gray-200;
                color: $c-gray-500;
                border-radius: 0.25rem;
                min-width: 1.5rem;
            }
        }
    }

    .item-list__item-index {
        color: $c-gray-500;
        text-align: center;
    }

    .item-list__item-title-container {
        flex: 1;
        display: inline-flex;
        align-items: center;
        font-size: 1rem;
    }

    .item-list__item-title-container {
        input {
            height: 2rem;
            background-color: $c-gray-100;
            outline: 0;
            border: 0;
            border-radius: 0.5rem;
            padding: 0 0.25rem;
            margin: 0;
            width: 50%;
        }
    }

    .item-list__item-title {
        padding: 0.25rem;

        &.is-untitled {
            color: $c-gray-400;
            font-style: italic;
        }
    }

    .item-list__item-columns {
        display: flex;
        flex: 1;

        & > * {
            flex: 1;
        }

        a {
            color: $c-gray-600;
            text-decoration: none;
        }
    }

    .item-list__item-date {
        display: flex;
        align-items: baseline;

        i {
            margin-right: 0.25rem;
        }
    }

    .item-list__item-cta {
        margin-left: 0.75rem;
        box-shadow: 0 2px 4px -2px rgba($c-gray-900, 0.16);
    }

    .item-list__item-author {}

    &:not(:hover) {
        .item-list__item-cta {
            display: none;
        }
    }

    &:not(:hover, &.draggable-mirror) {
        .item-list__item-handle {
            display: none;
        }
    }

    &:hover,
    &:focus-within {
        .item-list__item-actions {
            .dropdown {
                display: initial;
            }

            .item-list__item-index {
                display: none;
            }
        }
    }

    &.draggable-source--is-dragging {
        background-color: $c-purple-50;
        border: 1px dashed $c-purple-500;
        border-radius: 0.5rem;
        * {
            visibility: hidden;
        }
    }

    &.draggable-mirror {
        background-color: #fff;
        border-radius: 0.5rem;
        box-shadow: 0 0 1rem 0 rgba($c-blue-900, 0.12);

        & > *:not(
            .item-list__item-handle,
            .item-list__item-actions,
            .item-list__item-title-container
        ) {
            visibility: hidden;
        }
    }
}

.draggable--is-dragging * {
    cursor: grabbing !important;
}
