.user-avatar {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1rem;
    background-color: $c-gray-200;
    color: $c-gray-800;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    border-radius: 100rem;
}
